/* CSS for playlist positioned at right side */

.playlist{
    font-size: 'Comfortaa', cursive;
}

.playlist::-webkit-scrollbar {
    width: 0px;
    /* display: none; */
    /* width of the entire scrollbar */
}

.playlist::-webkit-scrollbar-track {
    background: rgb(3, 0, 0);
    /* color of the tracking area */
}

.playlist::-webkit-scrollbar-thumb {
    background-color: grey;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid black;
    /* creates padding around scroll thumb */
  
}


.playlist{
    background: linear-gradient(to bottom, #000000 1%, #031c27 100%);
    color: white;
    position: fixed;
    right: 10px;
    left: 1100px;
    top: 60px;
    bottom: 0px;
    padding-top: 30px;
    overflow: auto;
    overflow-x: hidden;
}

.playlist h1,h4{
    display: inline-block;
    margin-bottom: 30px;
}

.playlist h1,h4{
    margin-left: 15px;
    font-size: 20px;
    font-weight: 400;
}

.playlist h4{
    margin-left: 130px;
    font-size: 13px;
}

.playlist select{
    color: white;
    background-color: #010203;
    border-style: none;
    font-weight: 300;
}
.playlist select option{
    font-weight: 250;
    font-size: 13px;
    border: none;
}


.playlist select:hover{
    cursor: pointer;
}

.playlist i{
    color: rgb(59, 53, 53);
}

.playlist .song-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    transition: 0.2s;
}

.song-container:hover{
    background-color: #132332;
    cursor: pointer;
    color: rgb(172, 32, 8);
}

.song-container img{
    margin: 10px;
    width: 45px;
    height: 45px;
    border-radius: 3px;
    box-shadow: 2px 2px 17px 2px #242020;
}

.song-container .index{
    font-size: 16px;
    color: grey;
    padding-left: 10px;
    margin-top: 15px;
}

.song-container i{
    margin-right: 5%;
}

.song-info{
    margin-left: 10px;
    width: 210px;
}

.song-info p:nth-child(1){
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

.song-info p:nth-child(2){
    font-size: 10px;
    padding-top: 5px;
    color: grey;
    margin: 0px;
    padding: 0px;
}